/model/compare_with_sim_no_sim.png
/model/no_sim_results_compare_quad.png
/model/no_sim_results_manuscript_neg_binom_quad.png
/model/pod_compare_with_sim_no_sim.png
/model/post_samps_no_sim_neg_binom_quad.nc
/model/post_samps_with_sim_neg_binom_quad.nc
